body {
    font-family: Arial, sans-serif;
    background: #b6c0e3;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.signup-container {
    background:  #393e46;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #ff7200;
    outline: none;
}

button {
    background:#8498d9 ;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: lightblue;
}
